body {
	margin-top: 68px;
}

h1 {
	font-size: 200%;
}

#myCarousel {
	height: 300px;
	width: 300px;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 3px;
	moz-border-radius: 3px;
}

.hero-unit {
	padding-top: 20px;
}
.brand {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 200% !important;
	margin-left: 10px !important;
}
.navbar-inner a:hover {
	opacity: .8;
}
.well {
	padding: 20px;
}

.contact-blurb {
	margin-top: 20px;
}

.clearfix {
	clear: both;
}

.musicians p {
	font-size: 75%;
	line-height: 15px;
}

.footer {
}